
  <div class="text-nowrap" style="-ms-flex: 0 0 0px; flex: 0 0 0px;"><a
    class="btn btn-success rounded-pill" href="/settings/edit-user"><i
      class="fa fa-plus" aria-hidden="true"></i>New User</a>
  </div>
    <% if(locals.error) { %> <div class="alert alert-danger" role="alert">
      <strong><%= locals.error %></strong>
    </div>
    <% } %>
    <% if(locals.message) { %> <div class="alert alert-success" role="alert">
      <strong><%= locals.message %></strong>
    </div>
    <% } %>
      <div class="container-fluid">
      <% for(var i=0; i<allUsers.length; i++) { 
        const user = allUsers[i]; %>
        <div class="row align-items-center">
          <div class="col text-start align-middle"><%= user.username %></p></div>  
          
          <div class="col text-end align-middle text-nowrap" style="-ms-flex: 0 0 0px; flex: 0 0 50px;"><a
              class="btn btn-primary rounded-pill" href="/settings/edit-user/<%= allUsers[i].username %>"><i
                class="fa fa-edit" aria-hidden="true"></i>edit</a></p>
          </div>
          <div class="col text-end align-middle text-nowrap" style="-ms-flex: 0 0 0px; flex: 0 0 0px;"><a 
              class="btn <%= user.enabled ? "btn-success" : "btn-danger" %> rounded-pill <%= user.username !== 'admin' ? "" : "disabled" %>" href="?action=<%= user.enabled ? "disable" : "enable" %>&user=<%= allUsers[i].username %>"><i
                class="fa <%= user.enabled ? "fa-toggle-on" : "fa-toggle-off" %>" aria-hidden="true"></i><%= user.enabled ? "enabled" : "disabled" %></a></p>
          </div>
          <div class="col text-end align-middle text-nowrap" style="-ms-flex: 0 0 0px; flex: 0 0 0px;"><a 
              class="btn btn-danger rounded-pill <%= user.username !== 'admin' ? "" : "disabled" %>" href="?action=delete&user=<%= allUsers[i].username %>"><i
                class="fa fa-trash" aria-hidden="true"></i>delete</a></p>
          </div>
        </div>
        <% } %>
      </div>
    <script type="text/javascript">
      function clearQueryParams() {
        history.pushState(null, "", location.href.split("?")[0]);
    }
    window.otherOnloadFuncs = (window.otherOnloadFuncs || []).concat([clearQueryParams]);
    </script>
  
